.cart-icon {
  font-size: 22px;
}

.cart-icon-container {
  position: relative;
}

.number {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 15px;
  height: 15px;
  background-color: var(--red);
  color: white;
  font-size: 10px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}