header {
  padding: 16px 32px;
  border-bottom: 1px solid var(--lightgray);
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
}

header a {
  margin: 0px 16px;
}

